form .avatar {
    display: block;
    width: 55px;
}
.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 10%
}
.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}

.likes img {
    width: 20px;

}
