form .avatar {
    display: block;
    width: 55px;
}
.navbar .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 10%
}
.navbar .container-avatar img{
    width: 100%;
    height: 100%;
}
