{% extends 'base.html.twig' %}

{% block title %}Tarea{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ task.title}}✅</h1>
        <p>
            {{ task.user.name ~ ' ' ~ task.user.surname ~ ' | ' ~ task.createdAt|date('d/m/Y')}}
        </p>
        <p>
            {{ task.content }}
        </p>
    </div>
{% endblock %}
